<mat-card [@searchList]="NewGame.length">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput  [(ngModel)]="prices" name="first" placeholder="Search Price wise ex-free
      ">
    </mat-form-field>
    </form>
  </mat-card>
<mat-nav-list class="redcolor">
    <div [@newList]="NewGame.length">
    <mat-list-item *ngFor="let item of NewGame | searchPipe:'price':prices">
      <img matListAvatar src="./assets/{{item.image}}" alt="...">
      <h3 matLine> {{item.name}} </h3>
      <p matLine>
        <span> {{item.price}} </span>
      </p>
      <button mat-icon-button>
          <mat-icon>file_download</mat-icon>
       </button>
    </mat-list-item>
    </div>
  </mat-nav-list>
