<div [@listAnimation]="Imagess.length">
<mat-card  *ngFor="let images of Imagess; let i = index"  class="mymargin redcolor">
    <a routerLink="employees" (click)="onSelect(i)">

  <img mat-card-image src="./assets/{{images.image}}" height="400px" align="middle">
</a>
  <mat-card-content >
      <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState = true"
          (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
              <mat-panel-title style="color:brown; font-weight:bold">
                  {{images.name}}
              </mat-panel-title>
              <mat-panel-description>
                Description {{panelOpenState ? 'open' : 'closed'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{images.desc}}</p>
          </mat-expansion-panel>
          </mat-accordion>
    </mat-card-content>
</mat-card>
</div>
<div [@listNewGame]= "NewGame.length">
<mat-card class="redcolor mymargin">
    <mat-card-title style="font-weight:bold" (click)="routeNewGame()">
      <mat-nav-list>
        <mat-list-item>
      <h3>New Game 2018 </h3>
      <router-outlet></router-outlet>
    </mat-list-item>
    </mat-nav-list>
      </mat-card-title>
      <mat-divider></mat-divider>
    <mat-nav-list>
        <mat-list-item *ngFor="let newgame of NewGame">
          <img matListAvatar src="./assets/{{newgame.image}}" alt="...">
          <h3 matLine> {{newgame.name}} </h3>
          <p matLine>
            <span> {{newgame.price}} </span>
          </p>
          <button mat-icon-button>
              <mat-icon>file_download</mat-icon>
           </button>
        </mat-list-item>
      </mat-nav-list>
      
</mat-card>
</div>